/* :root {
	--primary-color: #fff;
	--dark-color: #141414;
} */

* {
	background-origin: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ariel', sans-serif;
	-webkit-font-smoothing: antialiased;
	/* background: #000; */
	color: #999;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0.5rem 0;
}

/* img {
	width: 100%;
} */
/* 
#top-summary {
	width: 100%;
	height: 100vh;
	background: url('../img/15bzC.jpg') no-repeat center center/cover;
}

#top-summary::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 570px 100px 250px #000000, inset 0px -20px 250px #000000;
} */

.showcase {
	width: 100%;
	height: 100vh;
	position: relative;
	/* background: url('../img/goldabstractbackground.jpg') no-repeat center center/cover; */
	background: url('../img/15bzC.jpg') no-repeat center center/cover;
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;

	/* background: rgba(54, 56, 57, 0.6); */
	/* box-shadow: inset 600px 100px 250px #000000; */
	/* box-shadow: inset 570px 100px 250px #282828, inset 0px -20px 250px #282828; */
	/* box-shadow: inset 570px 100px 250px #393b3d, inset 0px -20px 250px #393b3d; */
}

.showcase img {
	width: 170px;
	position: absolute;
	top: 50%;
	left: 12%;
	transform: translate(-50%, -50%);
}

.showcase-top {
	position: relative;
	z-index: 2;
	height: 90px;
}

.showcase-top a {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

.showcase-content {
	position: relative;
	z-index: 2;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: left; */
	align-items: center;
	text-align: center;
	margin-top: 10rem;
}

.showcase-content h1 {
	font-weight: 700;
	/* font-family: 'Caveat', cursive; */
	font-size: 4rem;
	line-height: 1.1;
	margin: 0 0 1rem;
	width: 100%;
	color: #fff;
	/* color: #9400d3; */
}

.showcase-content .fa-film {
	font-size: 6rem;
	color: #daa520;
}

.showcase-content p {
	/* text-transform: uppercase; */
	color: #fff;
	/* color: #c0b8b8; */
	/* color: #800000; */
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.25;
	margin: 0 0 2rem;
}

/* .iflix-fight-content {
	background: var(--dark-color);
	padding: 3rem; */
/* border-bottom: 3px solid #3d3d3d; */
/* } */

/* .iflix-fight-content .container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
} */

/* .dropdown-item {
	display: flex;
	align-items: center;
	height: 60px;
}

.dropdown-item img {
	height: 50px;
	margin-right: 10px;
} */

.showcase-content p strong {
	font-size: 3rem;
	font-family: 'Caveat', cursive;
	color: #800000;
}

/* Styles for top search section */

.top-search-content {
	background: #000000;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* .top-search-content #top-autocomplete input[type="text"] {
	padding: 20px 10px;
	line-height: 28px;
} */

#top-autocomplete .input {
	/* background-color: white; */
	box-shadow: none;
	border-color: none;
	outline: none;
	border: none;
	/* border-radius: 0; */
	/* color: #e22323; */
	/* height: 2rem; */
}

ul.detail {
	margin-left: 0;
}

ul.detail li {
	display: inline;
	background: #8c269c;
	/* background: rgb(180, 46, 136); */
	color: #fff;
	padding: 0.5rem 0.8rem;
	border-radius: 1.5rem;
}

p i.fa-star {
	color: #f7be73;
	margin-right: 0.2rem;
}

p span.ratings strong,
p.box-office strong {
	font-size: 1.5rem;
	/* color: #131212; */
	color: #fff;
}

p.plot {
	background: #cecece;
	padding: 2rem;
	color: #000;
}

.media-content .content h1,
.media-content .content h4,
.media-content .content p.media-content-p strong {
	color: rgb(175, 173, 173);
}

.content p span {
	font-size: 1.1rem;
	color: #fff;
}
/* Styles for flick-fight section */

.tutorial {
	width: 600px;
	text-align: center;
	margin: auto;
}

figure.image {
	display: flex;
	justify-content: center;
	background-color: black;
}

figure .image img {
	width: 128px;
}

.notification {
	margin-top: 20px !important;
}

.title .icon {
	margin-left: 15px;
}

.hero {
	margin-bottom: 20px;
}

.forms {
	display: flex;
	justify-content: space-around;
}

.dropdown-item {
	display: flex;
	align-items: center;
	height: 60px;
}

.dropdown-item img {
	height: 50px;
	margin-right: 10px;
}
