:root {
	--primary-color: #daa520;
	/* --primary-color: #d4af37; */
	--dark-color: #141414;
}

* {
	background-origin: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ariel', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0.5rem 0;
}

img {
	width: 100%;
}

.showcase {
	width: 100%;
	height: 93vh;
	position: relative;
	background: url('../img/goldabstractbackground.jpg') no-repeat center center/cover;
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000;
	/* box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000; */
}

.showcase img {
	width: 170px;
	position: absolute;
	top: 50%;
	left: 12%;
	transform: translate(-50%, -50%);
}

.showcase-top {
	position: relative;
	z-index: 2;
	height: 90px;
}

.showcase-top a {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

.showcase-content {
	position: relative;
	z-index: 2;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 10rem;
}

.showcase-content h1 {
	font-weight: 700;
	/* font-family: 'Caveat', cursive; */
	font-size: 8rem;
	line-height: 1.1;
	margin: 0 0 1rem;
	width: 50%;
	color: #daa520;
}

.showcase-content .fa-film {
	font-size: 6rem;
	color: #daa520;
}

.showcase-content p {
	/* text-transform: uppercase; */
	/* color: #fff; */
	color: #c0b8b8;
	/* color: #800000; */
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.25;
	margin: 0 0 2rem;
}

.showcase-content p strong {
	font-size: 3rem;
	font-family: 'Caveat', cursive;
	/* background: #daa520; */
	color: #800000;
	/* padding: 0.5rem; */
}
